*{
    margin: 0;
    padding: 0;

}

.nav{
    background-color: rgb(59, 59, 67);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

}
.side{
    display: flex;
    gap:30px;

}

.side p{
    color: aliceblue;
}


