* {
    font-family: 'Poppins', sans-serif;
  }
  
  .btmnavbar {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    border-radius: 20px 20px 0px 0px;
    margin: 0 auto;
    height: 70px;
  }
  
  .nav-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #6d28d9;
  }
  
  .logo {
    height: 32px;
    width: 32px;
    margin-right: 0.5rem;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .m-1 {
    margin: 10px;
  }