.btn2{
    /* width: fit-content;
    padding: 20px;
    margin: 10px;
    background-color: aquamarine;
    color: red;
    font-size: 20px; */
    width: fit-content;
    height: 30px;
    background-color: rgb(27, 189, 243);
    font-size: 20px;
    border-radius: 20px;
    padding: 10px auto;
    margin: 5px;
}
.btn2:active{
    transform:scale(0.9)
}