.form {
  display: flex;
}
.form .inputarea {
  display: flex;
  gap: 20px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  width: fit-content;
  margin: 30px;
}

.inputarea button {
  border-radius: 10px;
  background-color: aqua;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.inputarea button:hover {
  background-color: lightblue;
}
.outputarea {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  width: fit-content;
  margin: 30px;
}
